---
title: friends
---
<% content_for :navigation do %>
  <%= link_to '☮', '/home.html' %>
  <%= link_to 'SOUNDS', '/sound.html', :relative => true %>
  <%= link_to 'VISIONS', '/vision.html' %>
  <%= link_to '?', '#' %>
  <%= link_to 'SPACE', '/spaces.html', :relative => true %>
  <%= link_to 'TIME', '/times.html', :relative => true %>
<% end %>

<h1>☮</h1>
<%= link_to 'FRIENDS', '/friends.html', :relative => true %>
